@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,400&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: Lato;
  background-color: #fbf8f5;
}

.headers {
  font-size: 1.5em;
  margin: 40px 0px 40px 0px;
}

.links__drop::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 8px solid #030303;
  margin: 0px 0px 0px 5px;
  display: inline-block;
}

a {
  font-family: lato;
  font-size: 18px;
  color: #000;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  margin: 10px 0px 20px 0px;
}

.content {
  max-width: 1500px;
  margin: 1px auto;
  background-color: #ffff;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.nav__links {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px;
}

.header__icon {
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffc200;
  border-radius: 50%;
}

.header__icon::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  padding-top: 100%;
}

nav ul ul {
  display: none;
  position: absolute;
}

nav ul li:hover > ul {
  display: block;
}

.links__drop:hover {
  background-color: #f3ac16;
}

nav ul ul li {
  min-width: 170px;
  display: list-item;
  position: relative;
  background-color: #fbf8f5;
  display: block;
  padding: 10px;
  color: #ffffff;
  background-color: #f3ac16;
  z-index: 0;
}

nav ul li ul li:hover {
  background-color: #c78b0a;
}

.main__discription {
  text-align: center;
}

.main__headtxt {
  font-size: 32px;
  font-weight: 600;
  padding: 40px 0px 20px 0px;
}

.main__undertext {
  line-height: 1.3em;
  font-size: 24px;
  padding: 0px 20px 40px 20px;
  margin: 0px 50px 0px 50px;
}

.main__grid {
  margin: 20px;
}

.main__pictures {
  padding: 40px 90px;
}

.main__gridpictures {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 80px;
          column-gap: 80px;
  row-gap: 40px;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.picture__item {
  width: 400px;
  height: 400px;
  background: #f3ac16;
}

.container {
  background: #fbf8f5;
  margin: 0px auto;
  max-width: 1500px;
}

.main__button {
  padding: 20px;
  margin: 20px;
  width: 100%;
  text-align: center;
}

.button__change {
  border: 0;
  line-height: 2.5;
  padding: 15px 80px;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #f3ac16;
  color: black;
  text-shadow: 0px 0px 0px black;
  border-radius: 2rem;
}

.footer {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px;
  height: 90px;
  background-color: #fff;
}

.footer__links {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__links li {
  margin: 0px 0px 0px 20px;
}

.footer__link {
  font-size: 1.5rem;
  font-weight: 500;
}

.link {
  font-size: 1.4rem;
}
