// Файл обнуляющих стилей

@import "nullstyle.scss";

//Подключение шрифтов
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,400&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap");

body {
	font-family: Lato;
	background-color: #fbf8f5;
}

//стили списка
li	{
	margin: 20px;
}
li:first-child{
	margin: 0px 0px 0px 20px;

}
li:last-child{
	margin: 0px;
}

//стрелочки в списке
li:nth-child(1n+5)::after{
	content: "";
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 8px solid #000000;
	margin: 0px 0px 0px 5px;
	display: inline-block;
	

}

li:nth-child(1n+14)::after{
	content: "";
	width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 0px solid transparent;
	border-top: 0px solid #000000;
	margin: 0px 0px 0px 0px;
	display:inline-block;
}

//цвет ссылок
a{
	font-family: lato;
	font-size: 18px;
	color: #000;
}

//
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.header {
	margin: 10px 0px 20px 0px
}
.content {
	max-width: 1500px;
	margin: 1px auto;
	background-color: #ffff;
	flex: 1 1 auto;
}
.header__nav {
	
}

.nav__links {
			justify-content:space-between;
			display: flex;
		justify-content:center;
		align-items: center;
			padding: 10px 0px;

}
.header__icon {
	width: 60px; /* поддерживаются любые единицы, в том числе проценты */
	margin: 0px auto;
	background: #ffc200;
	border-radius: 50%;
}
.header__icon::before{
		content: "";
		display: inline-block;
		vertical-align: middle;
		padding-top: 100%;
}

.link {
}
.header__search {
	padding: 15px 0px 0px 0px;
}
.header__signup {
	padding: 10px 0px 0px 0px;
}

.main {

	&__discription {
		text-align: center;

	}

	&__headtxt {
		font-size: 32px;
		font-weight: 600;
		padding: 40px 0px 20px 0px;
	}

	&__undertext {
		font-size: 24px;
		padding: 0px 20px 40px 20px;
		margin: 0px 50px 0px 50px;
	}
	&__grid {
		margin: 20px;
	}

	&__pictures {
		padding: 40px 90px;
		
	}

	&__gridpictures {
		display: grid;
	column-gap: 80px;
	row-gap: 40px;
	//автоматическое выстривание по сетке
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}
}

.picture {

	&__item {
		width: 400px;
    height: 400px;
    background: #f3ac16;
	 
	}
}


.container {
	background: #fbf8f5;
	margin: 0px auto;
   width: 1500px;
}


.main {

		&__button {
			padding: 20px;
			margin: 20px;
			width: 100%;
			text-align: center;
			
		}
}
.button {

		&__change {
			border: 0;
			line-height: 2.5;
			padding: 15px 80px;
			font-size: 2rem;
			font-weight: 600;
			text-transform: uppercase;
			background-color: #f3ac16;
			color: rgb(0, 0, 0);
			text-shadow: 0px 0px 0px rgb(0, 0, 0);
			border-radius: 2rem;
		}
}

.footer {
	background-color: #fff;
	height: 90px;

	&__links {
		position: relative;
		display: flex;
		justify-content:center;
		align-items: center;
		margin: 0px auto;
		padding: 10px 0px 0px 0px;

	}

	&__link {
		font-size: 2rem;
		font-weight: 500;
	}
}

